{% extends 'add_deckmark_form.html' %}

{% block above_form %}
    <span id="group-id" hidden>{{group.id}}</span>
    <p>Group Name: <span id="group-name">{{ group.name }}</span>
        <span id="group-name-input" hidden></span>
    {% block group_name_edit %}
    {% endblock %}
    </p>

    <p>Description: {{ group.description }}</p>
    {% block group_description_edit %}
    {% endblock %}

    {% block edit_mode %}
        <a href="/group/{{group.id}}/edit">Edit Mode</a>
    {% endblock %}

    {% for deckmark in group.deckmarks %}
        <p><b>DECKMARK</b></p>
        <span id="deckmark-id-{{loop.index}}" hidden>{{deckmark.id}}</span>
        <p>{{deckmark.link}}</p>
        {% block deckmark_link_edit %}
        {% endblock %}
        <p>{{deckmark.description}}</p>
        {% block deckmark_description_edit %}
        {% endblock %}
        <div id="remove-id-{{loop.index}}">
            {% block deckmark_remove %}
            {% endblock %}
        </div>
    {% endfor %}

    <p>Add new deckmark to this group</p>

{% endblock %}