{% extends 'base.html' %}

{% block content %}

{% if session["user_id"] %}

    <h3>Welcome User {{ session["user_id"]}} </h3>

    <div>
        <a href="/add_group">Add Group</a>
        <br>
        <a href="/add_deckmark">Add Deckmark</a>
        <br><br>
    </div>
{% else %}

    <div>
        <a href="/login">Login</a>
        <br>
        <a href="/register">Register</a>
        <br><br>
    </div>

{% endif %}

<a href="/flash_test">Flash Test</a>
<br><br>

<div id="root"></div>
{% endblock %}

{% block scripts %}
<script type="text/jsx" src="/static/jsx/index.jsx"></script>
{% endblock %}